.sp {
  display: none;
}

/*リセット*/
*,
*::before,
*::after,
html,
body,
main,
nav,
footer,
header,
section,
article,
aside,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
button,
div,
span,
input,
select,
textarea,
table,
thead,
figure,
blockquote,
dl,
dd {
  box-sizing: border-box;
  font-size: normal;
  width: fit-content;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}


a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  object-fit: cover;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(0px) grayscale(45%);
  transition: all 1s ease;
  shape-margin: 0.75rem;
  box-shadow: inset 0 0px 10px 0px #242424;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: 0;
  background: none;
  padding: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
}

address {
  font-style: normal;
}

img,
canvas {
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none;
}

html,
body {
  font-family: 'jost', sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  color: var(--inv);
}

h1 {
  width: 100%;
}

/* ========== Custom Cursor ========== */
* {
  cursor: none !important;
}

#cursor,
#stalker {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  z-index: 9999;
}

#cursor {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#stalker {
  width: 15px;
  height: 15px;
  border: 2px solid rgba(255, 255, 255);
  transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.cursor--hover {
  width: 40px !important;
  height: 40px !important;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.stalker--hover {
  width: 50px !important;
  height: 50px !important;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

/*======load*/
#loading-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(200, 200, 200, 0.6);
  backdrop-filter: blur(10px);
  z-index: 9998;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--text);
  width: fit-content;
}

.typing-container p {
  font-size: 1rem;
  font-weight: 500;
}

/*=========== lang */
#langChenge input {
  display: none !important;
}

#langChenge {
  position: absolute;
  top: 15vmin;
  left: 30vmin;
  z-index: 100;
}

#langChenge .gallery {
  left: 10%;
}

#langChenge .inner_label {
  display: flex;
  gap: 1rem;
  align-items: center;
  pointer-events: none;
}

#langChenge label {
  cursor: pointer;
  display: flex;
  align-items: center;
  pointer-events: all;
  transition: opacity 0.3s;
}

#langChenge .ja,
#langChenge .en {
  font-weight: 500;
  color: var(--text);
  text-shadow: 0 0 3px var(--inv);
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

#langChenge .ja.active,
#langChenge .en.active {
  font-weight: 600;
  opacity: 0.7;
}

@media screen and (min-width: 1299px) {

  #langChenge .ja:hover,
  #langChenge .en:hover {
    opacity: 0.7;
  }
}

::selection {
  background-color: rgba(160, 113, 113, 0.5);
}

/*== Scrollbar ==*/
::-webkit-scrollbar {
  width: 4px;
  /*background: rgba(40, 0, 0, 0.4);*/
}

::-webkit-scrollbar-track {
  /*box-shadow: 0 0 0px rgba(255, 255, 255, 0) inset;*/
  background: rgba(46, 46, 46, 0.55);
}

::-webkit-scrollbar-thumb {
  box-shadow: 0 0 2px 1px rgba(31, 30, 30, 0.76) inset;
  background: rgba(46, 46, 46);
}


/* ========== Root Variables ========== */
:root {
  /*sub  rgba(75, 75, 75)*/
  --hover: #4b4b4b;
  /*bg base (199, 199, 199)*/
  --bg: #c7c7c7;
  /*link accent (160, 113, 113)*/
  --accent: #A07171;
  /*cadet blue rgba(95, 158, 160)*/
  --ac-blue: #5F9EA0;
  /*bt (117, 117, 117)*/
  --bt: #757575;
  /*border */
  --border: rgba(199, 199, 199, 0.5);
  --def: rgba(0, 0, 0, 0.75);
  --inv: #f9fafb;
  --text: #2e2e2e;
  --bg: #cedde6;
  color-scheme: light dark;
}

hr {
  width: 50%;
  height: 1px;
  margin: 10% auto;
  background: var(--inv);
  opacity: 0.3;
}


a {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: clamp(1rem, calc(1rem + 0.5vw), 1.2rem);
    color: var(--inv);
    display: block;
    height: fit-content;
    text-decoration: none;
    overflow: hidden;
    transition-duration: 0.8s;
}

footer a,
header a,
#category-menu li {
    text-decoration: none;
    width: fit-content;
    padding: 0.25rem 0.5rem;
    position: relative;
    opacity: 0.8;
}

footer a::before,
header a::before {
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 1px;
    color: var(--inv);
    left: -10px;
    bottom: 0%;
    background-color: var(--inv);
    transition: all 0.5s ease;
}

a:hover::before {
    width: 110%;
}

a:hover {
    text-shadow: 0 1px 3px var(--inv);
    opacity: 0.95;
}

.home a {
  color: var(--text);
}

.home footer a::before,
.home header a::before {
    color: var(--text);
    background-color: var(--text);
}

.home a:hover {
    text-shadow: 0 1px 3px var(--text);
}


@media screen and (max-width: 599px) {
  .sp {
    display: block;
  }

  #pc {
    display: none !important;
  }

  .typing-container {
    width: 80%;
  }

  #langChenge {
    top: 6%;
    left: 7%;
  }
}