.sp {
  display: none;
}

/*リセット*/
*,
*::before,
*::after,
html,
body,
main,
nav,
footer,
header,
section,
article,
aside,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
a,
button,
div,
span,
input,
select,
textarea,
table,
thead,
figure,
blockquote,
dl,
dd {
  box-sizing: border-box;
  font-size: normal;
  width: fit-content;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}


a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: 0;
  background: none;
  padding: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
}

address {
  font-style: normal;
}

img,
canvas {
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none;
}

html,
body {
  font-family: "Jost", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "游明朝", "Yu Mincho", "MS PMincho", "MS Mincho", serif, sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  color: var(--inv);
}

/* ========== Custom Cursor ========== */
* {
  cursor: none !important;
}

#cursor,
#stalker {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  z-index: 9999;
}

#cursor {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#stalker {
  width: 15px;
  height: 15px;
  border: 2px solid rgba(255, 255, 255);
  transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.cursor--hover {
  width: 40px !important;
  height: 40px !important;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.stalker--hover {
  width: 50px !important;
  height: 50px !important;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

/*======load*/
#loading-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(200, 200, 200, 0.6);
  backdrop-filter: blur(10px);
  z-index: 9998;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-container {
  display: flex;
  flex-direction: column;
  color: var(--text);
  width: fit-content;
}

.typing-container p {
  font-size: 1rem;
}

/*=========== lang */
#langChenge input {
  display: none !important;
}

#langChenge {
  position: absolute;
  top: 13vmin;
  left: 30vmin;
  z-index: 999;
}

#langChenge .gallery {
  left: 10%;
}

#langChenge .inner_label {
  display: flex;
  gap: 1rem;
  align-items: center;
  pointer-events: none;
}

#langChenge label {
  cursor: pointer;
  display: flex;
  align-items: center;
  pointer-events: all;
  transition: opacity 0.3s;
}

#langChenge .ja,
#langChenge .en {
  font-weight: 300;
  color: var(--text);
  text-shadow: 0 0 0px var(--inv);
  opacity: 0.65;
  transition: opacity 0.3s ease;
}

#langChenge .ja:hover,
#langChenge .en:hover,
#langChenge .ja.active,
#langChenge .en.active {
  font-weight: 400;
  opacity: 1;
}

@media screen and (min-width: 1299px) {

  .home #langChenge .ja,
  .home #langChenge .en {
    text-shadow: 0 0 0px var(--text);
  }

  .home #langChenge .inner_label .noise {
    background-image: linear-gradient(to right, var(--inv) 80%, var(--text) 100%);
  }
}

::selection {
  background-color: rgba(160, 113, 113, 0.5);
}

/*== Scrollbar ==*/
::-webkit-scrollbar {
  width: 4px;
  /*background: rgba(40, 0, 0, 0.4);*/
}

::-webkit-scrollbar-track {
  /*box-shadow: 0 0 0px rgba(255, 255, 255, 0) inset;*/
  background: rgba(46, 46, 46, 0.55);
}

::-webkit-scrollbar-thumb {
  box-shadow: 0 0 2px 1px rgba(31, 30, 30, 0.76) inset;
  background: rgba(46, 46, 46);
}


/* ========== Root Variables ========== */
:root {
  /*sub  rgba(75, 75, 75)*/
  --hover: #4b4b4b;
  /*bg base (199, 199, 199)*/
  --bg: #c7c7c7;
  /*link accent (160, 113, 113)*/
  --accent: #A07171;
  /*cadet blue rgba(95, 158, 160)*/
  --ac-blue: #5F9EA0;
  /*bt (117, 117, 117)*/
  --bt: #757575;
  /*border */
  --border: rgba(199, 199, 199, 0.5);
  --def: rgba(0, 0, 0, 0.75);
  --inv: #f9fafb;
  --text: #2e2e2e;
  --bg: #cedde6;
  color-scheme: light dark;
}

hr {
  width: 50%;
  height: 1px;
  margin: 10% auto;
  background: var(--inv);
  opacity: 0.3;
}

h1 {
  width: 100%;
  font-family: "Jost", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 400; /* お好みで変更 */
}

p {
  line-height: 2;
}

a,
#contact .modal-open-label {
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-size: clamp(1rem, calc(1rem + 0.5vw), 1.2rem);
  color: var(--inv);
  display: block;
  height: fit-content;
  text-decoration: none;
  overflow: hidden;
  /*background-position: 0 0; 背景色の位置 */
  /*background-size: 200% auto;  背景色のサイズ */
  transition: all 0.5s ease;
  transition-duration: 0.8s;
  opacity: 0.8;
}

footer a,
header a,
#contact .modal-open-label,
#category-menu li {
  text-decoration: none;
  padding: 0.5rem 0.75rem 0.5rem 0;
  padding: 0.5rem 0.75rem 0.15rem 0;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

footer a::before,
header a::before,
#contact .modal-open-label::before,
#category-menu li::before {
  content: '';
  position: absolute;
  display: block;
  width: 10px;
  height: 1px;
  color: var(--inv);
  left: -10px;
  bottom: 0%;
  background-color: var(--inv);
  transition: all 0.5s ease;
}

.home header a::before {
  background-color: var(--text);
}

a:hover::before,
#contact .modal-open-label::before,
#category-menu li:hover::before {
  width: 110%;
}

a:hover,
a:active,
#contact .modal-open-label:hover,
#contact .modal-open-label:active,
#category-menu li:hover,
#category-menu li.active {
  /*background-position: -100% 0; 背景色の位置 */
  text-shadow: 0 1px 3px var(--inv);
  opacity: 1;
}

.home header a::before {
  color: var(--text);
}

.home a:hover {
  text-shadow: 0 1px 3px var(--text);
}


img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(25%);
  transition: all 1s ease;
  shape-margin: 0.75rem;
  box-shadow: 0px 2px 10px 0px #000;
  opacity: 0.7;
}


@media screen and (max-width: 599px) {
  .sp {
    display: block;
  }

  #pc {
    display: none !important;
  }

  .typing-container {
    width: 80%;
  }

  #langChenge {
    top: 1rem;
    left: 1rem;
  }
}