/* ========== Reset CSS ========== */
*,
*::before,
*::after,
html,
body,
main,
h1,
h2,
h3,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

img,
canvas {
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: none;
}

html,
body {
  font-family: 'jost', sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* ========== Custom Cursor ========== */
* {
  cursor: none !important;
}

#cursor,
#stalker {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  z-index: 9999;
}

#cursor {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#stalker {
  width: 15px;
  height: 15px;
  border: 2px solid rgba(255, 255, 255);
  transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.cursor--hover {
  width: 40px !important;
  height: 40px !important;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.stalker--hover {
  width: 50px !important;
  height: 50px !important;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

/*======load*/
#loading-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(200, 200, 200, 0.6);
  backdrop-filter: blur(20px);
  z-index: 9998;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typing-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--text);
  width: fit-content;
}

.typing-container p {
  font-size: 1rem;
  font-weight: 500;
}

/*=========== lang */
#langChenge input {
  display: none !important;
}

#langChenge {
  position: absolute;
  top: 15vmin;
  left: 30vmin;
  z-index: 100;
}

#langChenge .inner_label {
  display: flex;
  gap: 1rem;
  align-items: center;
  pointer-events: none;
}

#langChenge label {
  cursor: pointer;
  display: flex;
  align-items: center;
  pointer-events: all;
  transition: opacity 0.3s;
}

#langChenge .ja,
#langChenge .en {
  font-weight: 500;
  color: var(--text);
  text-shadow: 0 0 3px var(--inv);
  opacity: 0.4;
  transition: opacity 0.3s ease;
}

#langChenge .ja.active,
#langChenge .en.active {
  font-weight: 600;
  opacity: 0.7;
}

@media screen and (min-width: 1299px) {

  #langChenge .ja:hover,
  #langChenge .en:hover {
    opacity: 0.7;
  }
}

/*== Scrollbar ==*/
::-webkit-scrollbar {
  width: 4px;
  /*background: rgba(40, 0, 0, 0.4);*/
}

::-webkit-scrollbar-track {
  /*box-shadow: 0 0 0px rgba(255, 255, 255, 0) inset;*/
  background: rgba(46, 46, 46, 0.55);
}

::-webkit-scrollbar-thumb {
  box-shadow: 0 0 2px 1px rgba(31, 30, 30, 0.76) inset;
  background: rgba(46, 46, 46);
}


/* ========== Root Variables ========== */
:root {
  --def: rgba(0, 0, 0, 0.75);
  --inv: #f9fafb;
  --text: #2e2e2e;
  --bg: #cedde6;
}

hr {
  width: 50%;
  height: 1px;
  margin: 10% auto;
  background: var(--inv);
  opacity: 0.3;
}


@media screen and (max-width: 599px) {
  .sp {
    display: block;
  }

  #pc {
    display: none !important;
  }

  .typing-container {
    width: 80%;
  }

  #langChenge {
    top: 6%;
    left: 7%;
  }
}