/* ========== Reset CSS ========== */
*,
*::before,
*::after,
h1,h2,h3,p,a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  font-family: 'jost', sans-serif;
}

/* ========== Loading Screen ========== */
#loading-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--def);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(20px);
  z-index: 1000;
}

.typing00 {
  font-size: clamp(1.8em, calc(1.8em + 0.5vw), 2.4em);
  color: var(--inv);
  letter-spacing: 1em;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.js_typing.endAnime {
  opacity: 1;
}


/* ========== Root Variables ========== */
:root {
  --def: rgba(0, 0, 0, 0.75);
  --inv: #f9fafb;
  --text: #2e2e2e;
  --bg: #cedde6;
}

.noise {
    display: flex;
    background-image: linear-gradient(to right, var(--bg), blue);
}

/* ========== Common ========== */
body,
.top-page,
.wrap {
  overflow: hidden;
  background-color: var(--inv);
  color: var(--inv);
  cursor: none !important;
}

h1 {
  font-size: 1rem;
  color: var(--text);
  position: absolute;
  top: 1%;
  left: 1%;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}


/* ========== Custom Cursor ========== */
#cursor,
#stalker {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  z-index: 9999;
}

#cursor {
  width: 8px;
  height: 8px;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#stalker {
  width: 15px;
  height: 15px;
  border: 2px solid rgba(255, 255, 255);
  transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.cursor--hover {
  width: 40px !important;
  height: 40px !important;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.stalker--hover {
  width: 50px !important;
  height: 50px !important;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}


    /*=========== lang */
    #langChenge {
        position: absolute;
        top: 7%;
        left: 1%;
    }
    #langChenge .inner_label {
      display: flex;
      align-items: center;
      justify-items: center;
      width: fit-content;
      top: 10%;
      left: 1%;
      margin: 0;
      transform: translate(0%, 0%);
      z-index: 9999;
      pointer-events: none;
    }

    #langChenge label {
      pointer-events: all;
    }

    input#langJa,
    input#langEn {
      font-size: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.4rem);
      font-family: 'Not serif-JP', sans-serif;
      color: var(--text);
      mix-blend-mode: difference;
      transition: all 0.9s ease-out;
      text-shadow: -1px -1px 2px rgba(20, 20, 20, 0.5),
                   inset 1px 0px 5px rgba(20, 20, 20, 0.3);
        display: none;
    }

    #langChenge label:hover,
    #langChenge label:focus {
      opacity: 0.7;
    }

    /* === 選択されている言語ラベルのスタイル 
    #langJa:checked ~ .inner_label label[for="langJa"],
    #langEn:checked ~ .inner_label label[for="langEn"] {
    }*/

    /* ラベルテキストの表示制御 */
    #langChenge label[for="langJa"] .ja,
    #langChenge label[for="langEn"] .en {
        color: var(--text);
      opacity: 0.5;
      margin-right: 1rem;
      transition: opacity 0.5s ease-in-out;
    }

    #langJa:checked ~ .inner_label label[for="langJa"] .ja,
    #langEn:checked ~ .inner_label label[for="langEn"] .en {
      opacity: 1;
    }


/* ========== Background Slides ========== */
.back__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-position: center;
  background-size: cover;
  color: var(--text);
  filter: grayscale(40%);
  transition: opacity 850ms 1500ms linear;
  z-index: -1;
}

.back__slide .progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.back__slide:nth-child(even) .progress {
  transform-origin: 100% 100%;
}

.back__slide::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 95vmin;
  height: 55%;
  background-position: center;
  background-size: cover;
  filter: grayscale(50%);
  box-shadow: 0 0px 20px 3px #000;
  z-index: -1;
}

.back__slide.active {
  opacity: 0;
}

/* 背景画像 */
.back__slide:nth-child(1)::before {
  background-image: linear-gradient(rgba(180, 180, 180, 0.62), rgba(180, 180, 180, 0.62)), url("https://pdmizuki.github.io/portfolio.github.io/img/couryoku.jpg");
}
.back__slide:nth-child(even)::before {
  background-image: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2)), url("https://pdmizuki.github.io/portfolio.github.io/img/230053-2.jpg");
}

/* フロント画像 */
.back__slide .back-front-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  mix-blend-mode: difference;
}

.back__slide .back-front-image::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
}

.back__slide .active .back-front-image {
  transition: transform 1200ms 1300ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 300ms 1300ms linear;
}

/* ========== Header / Creator / Time ========== */
.head a {
  font-size: clamp(1.2em, calc(1.2em + 0.5vw), 1.4em);
  color: var(--def);
  position: absolute;
  top: 9.25%;
  left: 30vmin;
  z-index: 1;
}

.creator {
  position: absolute;
  top: 10%;
  right: 30vmin;
  text-align: right;
}

.creator div {
  font-size: clamp(0.8em, calc(0.8em + 0.5vw), 0.9em);
  width: fit-content;
  position: absolute;
  top: 170%;
  right: -20%;
  transform: rotate(90deg);
}

.creator .close {
  right: -10%;
}

.time {
  position: absolute;
  bottom: 10%;
  right: 30vmin;
}

.time-display {
  font-size: clamp(1.2em, calc(1.2em + 0.5vw), 1.3em);
  font-weight: bold;
  color: var(--def);
}

/* ========== Card Slide ========== */
.card {
  width: 93vmin;
  height: 53%;
  position: absolute;
  top: 50%;
  left: 50%;
  backdrop-filter: blur(10px);
  transform: translate3d(-50%, -50%, 0);
  overflow: hidden;
}

.card__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events:none;
  transition: box-shadow 800ms 750ms linear;
}

.card__slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0px 5px 0px #000;
  background-size: 100% auto;
  background-position: center;
  /*border: 1px solid rgba(200, 200, 200, 0.14);
  border-right-color: rgba(255, 255, 255, 0.2);
  border-bottom-color: rgba(255, 255, 255, 0.2);*/
  backdrop-filter: blur(10px);
}

.card__slide:nth-child(even)::after {
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition: transform 850ms 970ms ease-in-out;
}

.card__slide.active {
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}


    .card__slide:nth-child(even).active:after {
        transform: scaleX(1);
        transform-origin: 0% 50%;
    }

    /*== 内容 ==*/
    .card__slide .image {
        background-image: url("https://pdmizuki.github.io/portfolio.github.io/img/230053-2.jpg");
        background-size: 85% auto;
        background-position: center;
        background-repeat: no-repeat;
        width: 30%;
        height: 100%;
        position: absolute;
        top: 5%;
        left: 5%;
        filter: grayscale(40%) drop-shadow(0px 2px 10px var(--inv));
        transform: translateX(-8rem);
        opacity: 0;
        transition: all 1s ease;
        z-index: 1;
    }

    .card__slide:nth-child(even) .image {
        left: 65%;
        background-image: url('https://pdmizuki.github.io/portfolio.github.io/img/couryoku.jpg');
        pointer-events: none;
        transition: transform 850ms 550ms linear, opacity 450ms 800ms linear;
    }

    .card__slide.active .image {
        /*clip-path: polygon(0% 0%, 90% 0%, 90% 100%, 100% 100%, 100% 100%, 0 100%, 0 100%);*/
        opacity: 1;
        z-index: 1;
        transform: translateX(0rem);
        transition: transform 1300ms 1700ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 1300ms 1700ms linear;
    }

    .card__slide:nth-child(1).exit .image {
        transition: transform 1200ms 600ms linear, opacity 200ms 800ms linear;
    }

    .card__slide:nth-child(even).active .back-image {
        opacity: 1;
        transition: transform 1200ms 1000ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 300ms 1000ms linear;
    }

    .card__slide:nth-child(even).exit .back-image {
        transform: translateX(-4rem);
    }

    /*== number ==*/
    .number {
        font-family: "Roboto Mono", monospace;
        letter-spacing: 0.02em;
        position: absolute;
        top: 0;
        z-index: -1;
    }

    .number:before {
        content: "";
        position: relative;
        display: block;
        width: 1px;
        height: 3.5rem;
        top: 0;
        left: 50%;
        transform: translatex(-50%);
        border-left: 1px solid;
    }

    /*.card__slide:nth-child(even) .date,
    .card__slide:nth-child(even) .number {
        color: #030303;
    }*/

    .card__slide:first-child .number {
        left: 3%;
    }
    .card__slide:nth-child(even) .number {
        right: 3%;
    }

    .card__slide .number {
        opacity: 0;
        transform: translatey(-5rem);
        transition: transform 1400ms 1700ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 1200ms 1600ms linear;
    }

    .card__slide.active .number {
        opacity: 0.7;
        transform: translatey(0rem);
        transition: transform 800ms 1100ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 600ms 1200ms linear;
    }

    .card__slide:nth-child(even).active .number {
        transition: transform 1400ms 1700ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 1200ms 1600ms linear;
    }

    .date {
        color: #ddd;
        font-family: "Roboto Mono", monospace;
        position: absolute;
        width: 100%;
        left: 3%;
        bottom: calc(5% - 0.5rem);
        letter-spacing: 0.15em;
        transform-origin: 0 50%;
        transform: rotate(0deg);
        z-index: -1;
    }

    .date__time {
        opacity: 0.5;
    }

    .date:before {
        content: "";
        display: inline-block;
        width: 4rem;
        margin-right: 1.5rem;
        border-bottom: 0.1rem solid var(--inv);
        transform: translatey(-0.3rem);
    }

    .card__slide .date {
        opacity: 0;
        z-index: -1;
    }

    .card__slide.active .date {
        opacity: 0.7;
        left: 0;
        transform: translatex(0rem) rotate(0deg);
    }

    .card__slide .date,
    .card__slide.active .date,
    .card__slide:nth-child(even).active .date {
        transition: transform 1450ms 1850ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 1450ms 1850ms linear;
    }

    .card__slide .date,
    .card__slide.exit .date,
    .card__slide:nth-child(even).exit .date {
        transform: translatex(0rem) rotate(-90deg);
    }

    /*== bottm line */
    .content__ping {
        position: absolute;
        bottom: calc(5% - 0rem);
        width: 5%;
        height: 1%;
        left: 50%;
        transition: transform 500ms ease-out;
    }

    .content__ping:after {
        content: "";
        display: block;
        width: 100%;
        height: 0.1em;
        position: absolute;
        left: 0;
        background: var(--inv);
        opacity: 0.7;
        transition: background 350ms 800ms linear;
        animation: widenFromLeft 2200ms ease-out;
    }

    @keyframes widenFromLeft {
        0% {
            transform: scaleX(1);
            transform-origin: 0 50%;
        }

        20% {
            transform: scaleX(4);
            transform-origin: 0 50%;
        }

        100% {
            transform: scaleX(1);
            transform-origin: 0 50%;
        }
    }

    @keyframes widenFromRight {
        0% {
            transform: scaleX(1);
            transform-origin: 100% 50%;
        }

        20% {
            transform: scaleX(4);
            transform-origin: 100% 50%;
        }

        100% {
            transform: scaleX(1);
            transform-origin: 100% 50%;
        }
    }

    /*animation*/
    /*bottom-line*/
    .content__ping--right {
        transform: translateX(40vmin);
    }

    .content__ping--right:after {
        animation: widenFromRight 1200ms ease-out;
    }

    .content__ping--noanimation:after {
        animation: none !important;
    }

    .top-page .content {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0%;
        top: 50%;
        transform: translatey(-50%);
    }

    .content__slide {
        display: grid;
        justify-content: center;
        align-content: center;
        position: relative;
        top: 0;
        width: 50%;
        height: 100%;
        margin: 0 auto;
        pointer-events: none;
    }

    .content__slide:nth-child(even) {
        top: -100%;
    }

    .content__slide.active {
        pointer-events: auto;
    }

    .content__slide.active .title__inner,
    .content__slide.active .desc,
    .content__slide.active .button-wrap {
        opacity: 1;
        transform: translateX(0);
    }

    .content__slide.active .title__inner {
        transition-delay: 1600ms;
    }

    .content__slide.active .desc {
        transition-delay: 1800ms;
    }

    .content__slide.active .button-wrap {
        transition-delay: 2000ms;
    }

    .content__slide.exit .title__inner,
    .content__slide.exit .desc,
    .content__slide.exit .button-wrap {
        transform: translateX(-2.5rem);
        transition: transform 400ms ease-out, opacity 300ms linear;
    }

    .content__slide.exit .title__inner {
        transition-delay: 150ms;
    }

    .content__slide.exit .desc {
        transition-delay: 300ms;
    }

    /*== タイトル、説明文、ボタンのアニメーションスタイリング ==*/
    .title__inner,
    .desc,
    .button-wrap {
        opacity: 0;
        position: relative;
        transform: translateX(-5.5rem);
        transition: transform 800ms cubic-bezier(0.165, 0.84, 0.44, 1), opacity 200ms linear;
    }

    .top-page .title {
        position: relative;
        /*font-size: clamp(4rem, calc(4rem + 0.5vw), 5rem);*/
        font-weight: 400;
        justify-content: flex-start;
        color: #f9fafbb3;
        text-shadow: 1px 1px 10px rgba(15, 53, 43);
        line-height: 1.2;
        letter-spacing: 0.1em;
    }

    .content__slide:nth-child(even) .title {
        text-shadow: 0px 0px 7px rgba(200, 200, 200, 0.75);
    }

    .top-page .title:nth-child(even)::before {
        transition-delay: 200ms;
        transform: translateX(0rem);
        transform-origin: 100% 100%;
    }

    /*== 内容 ==*/
    .desc {
        color: #f9fafbb3;
        text-shadow: 1px 1px 10px rgba(15, 53, 43);
        margin: 1rem auto 0;
        line-height: 1.8;
        letter-spacing: 0.1em;
    }

    .content__slide:nth-child(even) .title {
        text-shadow: 0px 0px 1px rgba(200, 250, 250, 0.4);
    }
    .content__slide:nth-child(even) .desc,
    .content__slide:nth-child(even) .button-wrap {
        color: var(--def);
        text-shadow: 0px 0px 1px rgba(200, 200, 200, 0.25);
    }

/*==================================== button ==*/
    .button-wrap {
        width: 100%;
        display: flex;
        position: relative;
        justify-content: center;
        text-align: center;
        margin-top: 1rem;
    }

    .content__slide:nth-child(even) .button-wrap {
        text-align: center;
    }

    .content__slide.exit .button-wrap {
        transition-delay: 450ms;
    }

.button {
    display: inline-block;
    font-size: 1rem;
    width: 100%;
    color: var(--inv);
    line-height: 1;
    letter-spacing: 0.15em;
    padding: 1.4rem 0.5em;
    margin: 1rem auto 0;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
    z-index: 10;
    box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0);
    overflow: hidden;
}
.button:first-child {
    margin-right: 1rem;
}
.button:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0px 2px 5px 0px rgba(100, 100, 100, 0.4);
}

.content__slide:nth-child(even) .button {
    background-color: rgba(250, 250, 250, 0.15);
    color: var(--def);
}

.content__slide:nth-child(even) .button:hover {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.64);
}

    .content__slide:nth-child(even) .button:before,
    .content__slide:nth-child(even) .button:after,
    .sp,
    footer,
    .menu_head {
        display: none;
    }

    @media screen and (max-width: 599px) {
        .typing00 {
            font-size: clamp(1em, calc(1em + 0.5vw), 1.4em);
        }

        .sp {
            display: block;
        }

        #pc {
            display: none !important;
        }

        /*==button==*/
        .button {
            display: block;
            font-size: 1rem;
            text-align: center;
            width: 50%;
            color: var(--inv);
            margin: 40vmin auto 1.5%;
            transition: none;
            background-color: rgb(2 83 83 / 51%);
            border: 1px solid rgba(255, 255, 255, 0.4);
            border-right-color: rgba(255, 255, 255, 0.2);
            border-bottom-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(20px);
            box-shadow: inset 0 1px 5px 0px rgba(20, 20, 20, 0.86);
        }

        .button:nth-child(even) {
            margin: 30vmin auto 0;
            color: var(--def);
            background-color: rgba(20, 20, 20, 0.15);
        }

    }

    @media screen and (min-width: 600px) and (max-width: 1199px) {
        .typing00 {
            font-size: clamp(1.4em, calc(1.4em + 0.5vw), 1.8em);
        }
    }

    @media screen and (min-width: 1200px) and (max-width: 1550px) {}