.noise {
    display: flex;
    /*background-image: linear-gradient(to right, #fff 0%, #000 70%);
    background-image: linear-gradient(to right, #fff 0%, #0f00 100%);
    background-image: linear-gradient(to right, #ffffff 0%, #ffffffa6 100%);*/
    background-image: linear-gradient(to right, #ffffff 0%, #ffffffa6 100%);
}

#langChenge {
    position: fixed;
    top: 5.5rem;
    left: 8rem;
}

/* ========== Common ========== */
html,
body {
    font-weight: 300;
    background: #000;
    overflow-x: hidden;
    background-image: linear-gradient(rgba(20, 20, 20, 0.62), rgba(20, 20, 20, 0.62)), url("../img/202343-2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}


/*== bg water ==*/
.ripples {
    width: 100%;
    height: 100%;
    background: rgba(25, 25, 25);
    position: fixed;
    opacity: 0.25;
    z-index: 1;
}

.ripples,
.ripples canvas {
    pointer-events: none;
}

.font-change-text {
    font-family: 'Arial', Not serif-JP;
    transition: font-family 1s ease-in-out;
}

#vanta-bg,
#vanta-bg-bio {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: hard-light;
}

#vanta-bg-bio {
    opacity: 0.75;
}

/*h1 {
    font-size: clamp(8rem, calc(8rem + 0.5vw), 10rem);
    font-size: 6rem;
    font-weight: 200;
    width: fit-content;
    margin-left: 25vmin;
    margin-top: 20rem;
    position: relative;
    color: transparent;
    text-shadow: 0px 0px rgba(255, 255, 255, 0.25);
    background-clip: text;
    -webkit-background-clip: text;
}

@property --lines {
  syntax: "<length>";
  inherits: false;
  initial-value: 0.00010px;
}

@keyframes h1-liner {
  50% {
    --lines: 0.5px;
  }
}

@keyframes slide-text-reveal {
  0% {
    background-image: none;
    background-position: -100% 0;
    opacity: 0;
  }
  100% {
    background-image: linear-gradient(to right, #ffffff -40%, #9f9f9fa6 100%) !important;
    background-position: 100% 0;
    opacity: 1;
  }
}

:root {
  --hour: 10s;
}

.mask-bg {
  display: inline-block;
  position: relative;
  overflow: hidden;
}*/

h1 {
    font-size: clamp(8rem, calc(8rem + 0.5vw), 10rem);
    font-size: 5.4rem;
    font-weight: 300;
    width: fit-content;
    line-height: 1.2;
    /*margin-left: 25vmin;
    margin-top: 20rem;
    position: relative;*/
    color: transparent;
    /*text-shadow: -1px -1px rgba(255, 255, 255, 0.5), 2px 2px 2px rgba(0, 0, 0, 0.95);
    background-image: linear-gradient(to right, var(--text), var(--bg));
    text-shadow: 0px 0px rgba(255, 255, 255, 0.25), 3px 2px 1px rgba(0, 0, 0);*/
    background-image: linear-gradient(to right, #ffffff -40%, transparent 100%);
    text-shadow: 0px 0px rgba(255, 255, 255, 0.25);
    /*
    background-size: 200%;
    background-position: -100% 0;
    background-clip: text;
    -webkit-background-clip: text;
  mask: repeating-radial-gradient(circle at center,
      #000,
      var(--lines),
      #000,
      0,
      #0000,
      calc(var(--lines) * 3),
      #0000 0);

  display: grid;
  place-content: center;
  animation:
    slide-text-reveal 1.6s ease forwards,
    h1-liner var(--hour) linear infinite;*/
}

.h1-text {
    position: absolute;
    left: 20vmin;
    top: 40vmin;
    z-index: 100;
}

.h1-text p {
    font-size: 2rem;
}


/* スクロールダウンの本体 */
.scroll {
    position: absolute;
    left: 5vmin;
    top: 0;
    writing-mode: vertical-rl;
    background: var(--inv);
    /*background: rgba(240, 255, 255, 0.4);*/
    width: 2px;
    height: 100%;
    z-index: 100;
    opacity: 0.5;
}

/* アニメーションする縦線部分 */
.scroll::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
    background-color: #000;
    animation: scroll 15s infinite;
}

/* スクロールアニメーションの定義 */
@keyframes scroll {
    0% {
        transform: scale(1, 0);
        transform-origin: 0 0;
    }

    50% {
        transform: scale(1, 1);
        transform-origin: 0 0;
    }

    51% {
        transform: scale(1, 1);
        transform-origin: 0 100%;
    }

    100% {
        transform: scale(1, 0);
        transform-origin: 0 100%;
    }
}


h2 {
    font-size: 2.8rem;
    font-weight: 400;
    line-height: 2;
    color: var(--inv);
    /*text-shadow: -1px -1px rgba(255, 255, 255, 0.75), 2px 2px 2px rgba(0, 0, 0, 0.95);*/
}

span.name {
    font-size: 1.4rem;
    line-height: 1;
}

.gallery-containt h2 {
    font-size: 1.4rem;
    font-weight: 300;
}

h3 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 2;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.95);
}

h4 {
    font-size: 1.2rem;
    color: var(--def);
}

img:hover {
    transform: scale(1.04);
    filter: grayscale(0%);
    box-shadow: 0 3px 8px 0px #242424;
}

p {
    font-size: 1.2rem;
    font-size: clamp(1rem, 0.477rem + 0.64vw, 1.25rem);
    letter-spacing: 0.05rem;
    line-height: 2.4;
}

main li {
    position: relative;
    color: var(--inv);
    margin-bottom: 2vmin;
    padding: 0 0.5rem;
}

/* head */
.head a {
    position: fixed;
    justify-content: flex-start;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.01rem;
    padding: 0;
    padding-right: 0.5rem;
    top: 3rem;
    left: 8rem;
    text-shadow: 0 0 0px var(--inv);
    z-index: 1000;
}

.head a::after {
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    position: absolute;
    right: 0;
    bottom: 37.5%;
    background-color: var(--inv);
    animation: blink 0.09s infinite;
}

.head a span {
    letter-spacing: 0;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.page-line {
    height: 2px;
    background-color: var(--text);
    width: 0%;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    transition: width 1s ease;
    border-radius: 8px;
}


#pagination {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 10vmin auto;
}

.page-btn {
    padding: 0.5rem;
    cursor: pointer;
    opacity: 0.3;
}

.next-btn {
    opacity: 0.75;
}

.page-btn:hover,
.page-btn.active,
.next-btn:hover,
.next-btn:active {
    opacity: 0.95;
}

main {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 30vmin 2rem;
    backdrop-filter: blur(10px);
    /*background: rgb(25 125 80 / 10%);
    background: rgb(20 61 7 / 14%);
    background-color: rgba(20, 20, 20, 0.09);*/
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 0px 7px rgba(0, 0, 0, 1);
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.art-page main {
    padding: 30vmin 2rem 80rem;
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(15px);
}

/*.art-page main p:nth-child(1) {
    font-size: 1.4rem;
    padding-top: 8rem;
    margin-left: 25vmin;
}*/

/* コンテナ定義（.gallery .content をコンテナに） */
.gallery .content {
    container-type: inline-size;
    container-name: gallery;
    /*width: clamp(55%, 100%, 45%);*/
    width: 75%;
    width: 100%;
    max-width: 1400px;
    max-width: 1100px;
    height: 100%;
    margin: 60vmin auto 0;
    box-shadow: inset 0 0 15px rgba(0, 0, 0);
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 52vmin 52vmin;
    justify-content: center;
    /*background: rgba(55, 100, 100, 0.1);
    backdrop-filter: blur(10px);*/
}

.art-page .content {
    padding: 3rem 2rem;
    background: rgba(0, 15, 15, 0.4);
}

.art-page .work {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    /*min-height: 350px;*/
    height: fit-content;
    margin: 4rem auto 0;
}

/*=======info page*/
#state .content,
#contact .content,
#policy .content {
    box-shadow: none;
    width: 50%;
    max-width: 1000px;
}

#contact .content {
    display: block;
    width: 35%;
}

#state h2,
#state h3,
#policy h2,
#policy h3 {
    justify-content: flex-start;
}

#state h2 {
    line-height: 1;
}

@media screen and (min-width: 1299px) {
    #state .state-box:nth-child(2) .content {
        width: 40%;
    }

    #state h2 {
        font-size: 2.4rem;
        align-items: end;
        margin-bottom: 1vmin;
    }

    #bio .work:nth-child(3) h2 {
        margin-bottom: 5vmin;
    }

}

#policy h2 {
    margin-bottom: 2vmin;
}

#policy h3 {
    line-height: 1.6;
    margin-top: 10vmin;
    border-bottom: 1px solid;
}

#state h3 {
    position: relative;
    padding: 3rem 4rem 0.5rem;
}

#state .work:nth-child(2) h3 {
    width: auto;
    margin-top: 10vmin;
    border-top: 1px solid;
}

#state .work h3::before {
    content: "";
    width: 45px;
    height: 1px;
    background: var(--inv);
    position: absolute;
    top: 70%;
    left: 0;
}

#policy .content li {
    padding: 0;
    margin: 0.75vmin 0;
    padding-left: 2rem;
}

#state .content ol {
    width: auto;
}

#state .content li {
    line-height: 2;
    padding: 0.5rem 0 0.5rem 1.25rem;
    margin-bottom: 0;
}

#state .content li span {
    font-size: 0.85rem;
}

/*#state .content li::before,
#policy .content li::before {
    content: "";
    width: 10px;
    height: 1px;
    position: absolute;
    left: 0.5%;
    top: 45%;
    background: rgba(200, 200, 200, 0.6);
}*/

#state .work p,
#conract .work p,
#policy .content p {
    margin: 0;
    padding: 0;
}

#state main,
#bio main {
    display: block;
}

#state .work {
    width: auto;
}

#state .work ol p {
    width: auto;
    border-bottom: 1px solid;
}

#state .work:nth-child(n+3) ol p:nth-child(n+3) {
    margin-top: 5vmin;
}

/*=======info page*/

#gallery-container .work p {
    width: 100%;
    color: var(--inv);
    line-height: 1.2;
}

#gallery-container .work-img {
    position: relative;
    display: grid;
    max-width: 450px;
    /*gap: 1rem;
    filter: grayscale(40%);*/
}

.works::before {
    display: none;
}

/*========link*/
.gallery-containt .work-img a {
    display: grid;
    align-content: space-between;
    height: 100px;
}


.works {
    text-decoration: none;
    color: inherit;
}

#gallery-container .work .noise {
    background-image: linear-gradient(to right, #fff 0%, #2e7185 100%);
}

#gallery-container .work:nth-child(n+2) .cg-text {
    display: none;
}

.works p {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    line-height: 1.8;
}

.works img {
    clip-path: polygon(10% 0%, 100% 0, 100% 90%, 100% 90%, 90% 100%, 0 100%, 0 10%);
}



/*=== コンテナクエリで縦並びに切り替え ===*/
@container gallery (max-width: 700px) {
    .work {
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
    }

    .work>p {
        width: 100%;
        order: 2;
        text-align: left;
        margin: 0;
    }

    .work-img {
        order: 1;
        max-width: 100%;
    }
}