/*== NAV ==*/
nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    /*-webkit-overflow-scrolling: touch;*/
    transition: 0.8s ease;
    z-index: 101;
}

.inner {
    width: 50%;
    padding: 15vmin;
}

.inner ul {
    padding: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.inner ul li {
    width: fit-content;
    border-bottom: 1px solid rgba(40, 40, 40, .25);
}

#navArea .inner li a {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--inv);
    height: 100%;
    mix-blend-mode: luminosity;
    text-shadow: 0px 0px 3px rgba(46, 46, 46, 0.35);
}

.home #navArea .inner li a {
    text-shadow: 0px 0px 3px rgba(46, 46, 46, 0.85);
}

#navArea .inner li a::before {
    bottom: 0;
}

#navArea .inner li a:hover {
    text-shadow: 0 0px 0px var(--inv);
    opacity: 1;
}

.home #navArea .inner li a:hover {
    text-shadow: 0 0px 0px var(--text);
}

nav .noise {
    display: block;
    background-image: linear-gradient(to right, var(--text));
}

/* .toggle_btn styles */
.toggle_btn {
    display: block;
    position: fixed;
    top: 4.5%;
    right: 5%;
    width: 40px;
    height: 30px;
    transition: all 1.3s;
    cursor: pointer;
    z-index: 102;
    transform: translate(0, 0);
}

.toggle_btn span {
    display: block;
    position: absolute;
    width: 40px;
    height: 1px;
    background: #c0c0c06b;
    overflow: hidden;
    z-index: 103;
}

.home .toggle_btn span {
    background: #c0c0c045;
}

.toggle_btn span::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, var(--text) 100%);
    animation: scroll-left 2s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
    background-size: 200% 100%;
    transition: all 2s;
    animation-delay: 2s;
    animation-duration: 3.5s;
}

@keyframes scroll-left {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

/*== OPEN ==*/
.open nav {
    right: 0;
    backdrop-filter: blur(20px);
    background-color: rgba(220, 220, 210, 0.25);
    mix-blend-mode: hard-light;
}

.home .open nav {
    background: rgba(180, 180, 170, 0.5);
}

.open .toggle_btn {
    transition: all 1s ease;
}

.open .toggle_btn span {
    background-color: var(--def);
    box-shadow: 0 0 7px 1px var(--inv);
    width: 100%;
    height: 1%;
    z-index: 999;
    transition: all 1s ease;
}

.toggle_btn span:nth-child(1) {
    transition: all 1s ease;
}

.open .toggle_btn span:nth-child(1) {
    transform: translate(310%, 0);
    transition: all 1s ease;
    opacity: .5;
}

.toggle_btn span:nth-child(2) {
    top: -150%;
    animation-delay: 0.56s;
    transform: translate(0%, 0%) rotate(90deg);
    transition: all 1s ease;
    opacity: 1;
}

.open .toggle_btn span:nth-child(2) {
    top: 3%;
    transform: translate(0%, 0%) rotate(90deg);
    transition: all 1s ease;
    opacity: 1;
}

.toggle_btn span:nth-child(3) {
    transform: translate(320%, 0);
    transition: all 1s ease;
    animation-delay: 0.56s;
    opacity: 1;
}

.open .toggle_btn span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg);
    transition: all 1s ease;
    opacity: 1;
}

/* Mask */
#mask {
    display: none;
    right: -100%;
    top: 0;
    transition: 0.8s ease;
}

.open #mask {
    display: block;
    position: relative;
    top: 0;
    right: 0%;
    width: 50%;
    background: rgba(10, 10, 10, 0.5);
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: all 1s ease;
    animation: menu-left 1s ease;
    z-index: 998;
}

.home .open #mask {
    background: rgba(10, 10, 10, 0.75);
}

@keyframes menu-left {
    0% {
        transform: translateX(200%);
    }

    100% {
        transform: translateX(0%);
    }
}

#mask p {
    font-weight: 500;
    font-size: clamp(1.2em, calc(1.2em + 0.5vw), 1.4em);
    position: absolute;
    left: 5%;
    text-shadow: 0px 0px 1px rgba(246, 246, 246, 0.5);
}

.open #mask ul {
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 90%;
    height: 20%;
    padding: 0.5rem;
    overflow: hidden scroll;
    border-bottom: 1px solid rgba(46, 46, 46, 0.55);
}

.open #mask li {
    font-weight: 200;
    color: #ddd;
    margin-top: 3em;
    padding: 0.25rem;
    border-bottom: 1px solid;
    letter-spacing: 0.07rem;
    mix-blend-mode: hard-light;
}

.open #mask li:nth-child(1) {
    margin-top: 0;
}


@media screen and (min-width: 1299px) {
        #mask p {
        bottom: 35%;
    }
}
@media screen and (max-width: 599px) {
    nav {
        flex-direction: column;
    }
    .inner {
        width: 100%;
        min-height: 55%;
        padding: 2rem;
    }
    .open #mask {
        width: 100%;
        height: 100%;
    }
    #mask p {
        top: 20%;
    }
    .open #mask ul {
    bottom: 10%;
    height: 50%;
    border-bottom: 1px solid;
}
}
