@media screen and (max-width: 599px) {
    .pc {
        display: none;
    }

    .head a {
        font-size: 1rem;
        left: 2.5rem;
    }

    #langChenge {
        top: 4.5rem;
        left: 2.4rem;
    }

    .typing-container p {
  font-size: 1rem;
}

    /*body::before {
                content: "";
                display: block;
                position: fixed;
                width: 100%;
                height: 100%;
                border: 5px solid var(--inv);
                z-index: 20;
                pointer-events: none;
                mix-blend-mode: difference;
            }*/

    /*== bg water ==*/
    div.ripples {
        width: 100vw;
        height: 100%;
        background: rgba(25, 25, 25);
        position: fixed;
        opacity: .25;
        z-index: 0;
    }

    .ripples,
    .ripples canvas {
        pointer-events: none;
    }

    main {
        position: relative;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 10em;
        padding: 5rem 2.5rem 10rem;
        /*backdrop-filter: blur(5px);*/
        z-index: 10;
    }

    h1 {
        font-size: clamp(3rem, calc(3rem + 0.5vw), 6rem);
        font-size: 2.4rem;
        line-height: 1;
        margin-top: 65% !important;
        margin: 0;
    }

    .scroll {
        left: 50%;
        width: 1px;
        top: 95vmin;
        height: 50px;
    }

    .scroll::before {
        height: 50px;
    }

    h2 {
        font-size: 1.8rem;
        font-weight: 500;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.85rem;
        letter-spacing: 0.05rem;
    }

    li {
        font-size: 0.8rem;
        line-height: 2;
    }

    a {
        font-size: clamp(1rem, calc(1rem + 0.5vw), 1.2rem);
        transition-duration: 0.8s;
    }

    a::before {
        content: '-';
        width: 3px;
        left: 0;
    }

    a::before:hover {
        width: 5px;
    }

    footer a,
    header a {
        font-size: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.4rem);
        color: var(--inv);
        position: relative;
        overflow: hidden;
    }

    footer a::before,
    header a::before {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        height: 1px;
        color: var(--inv);
        left: 0;
        bottom: 0;
        background-color: var(--inv);
        transition: width 0.5s ease;
    }

    a:hover::before {
        color: #fff;
        width: 100%;
    }

    a:hover {
        color: var(--def) !important;
        text-shadow: 0 2px 3px var(--def);
        transform: matrix(-3rem);
    }

    .art-page .gallery {
        padding: 10vmin 0 10vmin 2.5rem;
    }

    .gallery p:nth-child(n+1) {
        margin-left: 0 !important;
    }

    .gallery .content,
    #info .content,
    #contact .content,
    #policy .content {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        margin: 65vmin auto 0;
        padding: 0 3vmin;
        backdrop-filter: none;
        gap: 3vmin;
    }

    #info .content,
    #contact .content,
    #policy .content {
        padding: 0;
    }

    #policy .content li {
        padding-left: 1.5rem;
    }

    .works {
        padding: 0;
    }

    .work {
        height: 100%;
        justify-content: flex-start;
        gap: 1rem;
    }

    .work h2 {
        font-size: 0.9rem;
    }

    #gallery-container .work p {
        width: 100%;
        letter-spacing: 0.05rem;
    }

    #gallery-container .work:nth-child(1) .noise {
        font-size: 1rem !important;
        top: -10% !important;
    }

    .gallery ol p {
        font-size: clamp(1.2rem, calc(1.2rem + 0.5vw), 1.4rem);
        font-weight: 600;
        width: fit-content;
        margin-top: 2em;
        padding-left: 0;
    }

    .gallery li {
        width: fit-content;
    }

    .gallery li a:hover {
        background: var(--inv);
    }

    .work .noise {
        letter-spacing: 0.075rem;
    }

    #pagination {
        margin: 10vmin auto 5vmin;
    }

}