<footer>
   <a class="noise" href="@@SITE:gallery.html@@">Art Index</a>
   <a class="noise" href="@@SITE:artist-statement.html@@">Artist Statement</a>
   <a class="noise" href="@@SITE:biography.html@@">Biography</a>
   <a class="noise" href="@@SITE:information.html@@">Information</a>
   <a class="noise" href="@@SITE:contact.html@@">Contact Us</a>
   <a class="noise" href="@@SITE:order.html@@">Order</a>
   <a class="noise" href="@@SITE:policy.html@@">Site Policy</a>

   <div class="foot">&copy; <span id="year"></span>
      Mizuki Oyama
   </div>
</footer>
